*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}

header{
    width: 100%;
    background-color: #f8f8f8;
}
.container{
    width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding:20px 0;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: blue;
}

nav ul {
    list-style: none;
    display:flex;
    gap: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
nav ul li a:hover {
    color: black;
    text-decoration: underline;
}
/* Opening Section Styling */
.open-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-image: url(../img/Background.png);
    background-size:cover;
    background-position: bottom;
    text-align: center;
    color:#333;
}

.opening-section h1{
    font-size: 48px;
    margin-bottom:10px;
}

.opening-section p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;

}

.cta button{
    display: inline-block;
    padding: 15px 30px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3 ease;

}
.cta-button:hover {
    background-color: #008ecc;
}